body {   
  background-color: #eae2f5a1;
}

body.about {
  background:linear-gradient(to bottom, #f6f6f6,#eae2f5a1);
  background-color: #f1ebf967;
}

.hero {
  background: url("./src/images/laptop.png");
  height: 120vh;
  background-size: contain;
  background-position: center;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background: (to bottom, #f6f6f6,#a061f399,#a061f3ca);
  margin-top: -35px;
}

section.pm {
  padding-top: -200px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

section.hero {
  padding-top: 10px;
}

article {
  padding-top: 190px;
  margin-left: 30%;
  margin-right: 30%;
  position: absolute;
}

/* Typing Animation */
@keyframes typing {
  from { width: 0; }
}

.content h1::after {
  display: inline-block;
  animation: typing 2s steps(10, end) infinite;
}

/* Responsive Styles */
@media screen and (max-width: 796px) {
  .content {
    text-align: center;
    font-size: 16px; /* Adjust font size for smaller screens */
    width: fit-content;
  }

  .img-fluid {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    
    }

  .img-fluids {
    max-width: 100%;
    height: 120px;
    border-radius: 10px;
  }

  .abouthero {
    padding-left: 80px;
    margin-left: 40px;
    text-align: center;
    columns: 1;
  }

  .abouth2, .card-title {
    display: none;
  }

  .aboutblurb {
    margin-top: -150px;
  }

  h4 {
    text-align: center;
  }
  
  
}

@media screen and (min-width: 768px) {
  .content {
    text-align: center;
    font-size: 16px; /* Adjust font size for smaller screens */
    width: fit-content;
  }

  .img-fluid {
    height: 400px;
    border-radius: 10px;
    margin-top: -80px;
  }

  .img-fluids {
    height: 310px;
    border-radius: 10px;
    margin-top: 6px;
  }

  .h2adjust {
    margin-bottom: 20px;
    margin-top: -200px;
  }

  
  .card-body-A{
    margin-top: 170px;
    position: relative;
    }
    
    .aboutcard {
    margin-top: 140px;
    padding-bottom: 25px;
    background-color: transparent;
    position: sticky;
    }

    h4 {
      display: none;
    }


}

/* Sections styles */
.section {
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust shadow properties as needed */
  border-bottom: 1px solid #ddd; /* Adjust color and thickness as needed */
  border-radius: 10px;
}

.pm {
  color: #172330;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}

.ux {
  background-color: #f6f6f6;
  padding-bottom: 10px;
}

.frontend {
  background-color: #f6f6f6;
  padding-bottom: 10px;
  color: #172330;
}

section.data {
  color: #172330;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.blurb {
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.2rem;
}

.pm_blurb {
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  height: min-content;
  font-size: 1.2rem;
}

.ux_blurb {
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.2rem;
}

.card-body-A{
margin-top: 150px;
position: relative;
}

.aboutcard {
margin-top: 90px;
margin-left: 20%;
padding-bottom: 35px;
background-color: transparent;
position: relative;
}

.card-title {
  font-size: 3.5vw;
  margin-top: -4.5%;
  margin-right: -150px;
  position: relative;
  padding-left: 10px;
}

.aboutblurb {
  text-align: justify;
  padding-left: 10px;
}

.abouth2 {
  font-size: 2.5vw;
  margin-top: -25.8%;
  position: relative;
  padding-left: 10px;
}

.card-body {
  background-color: #f6f6f686;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-titles {
  text-align: center;
}

.cards {
  padding-left: 10px;
  margin-bottom: 0px; /* Adjust margin-top as needed */
}

/* Content styles */
.content {
  text-align: center;
}

.contentswe {
  text-align: center;
  padding-top: 0;
}

.swe {
  font-size: 2.8em;
}

.content h2 {
  font-size: 2.65em;
  margin-bottom: 20px;
  margin-top: -50px;
}

.content p {
  font-size: 1.45em;
  text-align: center;
  padding-left: 60px;
  margin-left: 60px;
  padding-right: 60px;
  margin-right: 60px;
  margin-top: -20px;
  margin-bottom: 30px;
}

h1 {
  font-size: 38pt;
  margin-top: -60rem;
  padding-bottom: 3px;
}

h2 {
  font-size: 24pt;
}

.hero {
  display: flex;
  columns: flex;
  justify-content: center;
  padding-top: 100px;
}

.typewriter, .job-title {
  text-align: center; /* Center both h1 and h2 */
}

.typewriter {
  overflow: hidden;
  padding-top: 100px; /* Adjust as needed */
}

.typewriter h1 {
  display: inline-block; /* Ensures h1 doesn't move */
  margin: 0; /* Reset margin */
}

.job-title {
  overflow: hidden;
}

.job-title h2 {
  display: inline-block; /* Allows h2 to type out */
  animation: typing 5s steps(40) forwards; /* Adjust timing and steps as needed */
  white-space: pre-wrap; /* Allow text to wrap */
}

@keyframes typing {
  from { width: 0; }
}

.job-title h2::after {
  content: "";
  display: inline-block;
  width: 0;
}

/* Adjust other styles as needed */

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .typewriter {
    padding-top: 50px; /* Adjust padding for smaller screens */
  }

  .job-title h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}


/* Side Navbar styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(14, 1, 18);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: transparent;
}

/* Hamburger Icon styles */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #172330;
  z-index: 2;
  border-radius: 2px;
  background-color: #f6f6f6;
}

#contact{
  text-align: center;
  padding: 12px;
}

.contact {
  font-size: 18pt;
  color: #172330;
  text-decoration: none;
}

a:after {
  color: #172330;
}

@media (max-width: 780px) {
  img, .img-fluid{
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 1160px) {
  .img-fluids {
    display: none;
    visibility: hidden;
  }
}