body {   
  background-color: #eae2f5a1;}

body.about {
  background:linear-gradient(to bottom, #f6f6f6,#eae2f5a1);
  background-color: #f1ebf967;
}

.hero {
  background: url("./src/images/laptop2.png");
  height: 100vh;
  background-size: contain;
  background-position: center;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background: (to bottom, #f6f6f6,#a061f399,#a061f3ca);
  margin-top: -35px;
}

section.pm {
  padding-bottom: 110px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

section.hero {
  padding-top: 10px;
}

article {
  padding-top: 250px;
  margin-left: 30%;
  margin-right: 30%;
}


/* Typing Animation */
@keyframes typing {
  from { width: 0; }
}

.content h1::after {
  display: inline-block;
  animation: typing 2s steps(10, end) infinite;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .content {
    max-width: 90%; /* Adjust the width for smaller screens */
  }
}

/* Sections styles */
.section {
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust shadow properties as needed */
  border-bottom: 1px solid #ddd; /* Adjust color and thickness as needed */
  border-radius: 10px;
}

.pm {
  color: #172330;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.ux {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.frontend {
  background-image: url(''); /* Replace with your image */
  background-size: cover;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
  
section.data {
  color: #172330;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.blurb {
  text-align: justify;
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.2rem;
}
.pm_blurb {
  text-align: justify;
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  height: min-content;
  font-size: 1.2rem;
}
.ux_blurb {
  text-align: justify;
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.2rem;
}

.img-fluid {
  height: 400px;
}

/* About Page Styles*/

.abouthero {
  padding-bottom: 10px;
  padding-right: 35rem;
  margin-top: -25px;
}

#sticker {
  margin-top: -34%;
  height: 500px;
  border-color: #172330;
  margin-left: 52rem;
  padding: 0px 10px;
  margin-bottom: 5%;
}

.aboutblurb {
  text-align: justify;
  margin-bottom: 40px;
  margin-left: -40px;
}

.abouth1{
  font-size: 4.2rem;
  margin-top: -3%;
  margin-left: 10px;
}

.abouth2{
  font-size: 3rem;
  margin-top: -30%;
  margin-left: -40px;
}

.card-body {
  background-color: #f6f6f686;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
}

.cards {
  padding-left: 10px;
}

/* Content styles */
.content {
  text-align: center;
}

.contentswe {
  text-align: center;
  padding-top: 6rem;
}

.swe {
  font-size: 2.8em;
}

.content h2 {
  font-size: 2.8em;
  margin-top: 95px;
  margin-bottom: 50px;
}

.content p {
  font-size: 1.45em;
  text-align: center;
  padding-left: 60px;
  margin-left: 60px;
  padding-right: 60px;
  margin-right: 60px;
  margin-top: -20px;
  margin-bottom: 30px;
}

h1 {
  font-size: 44pt;
  margin-top: -60rem;
}

.hero {
  display: flex;
  columns: flex;
  justify-content: center;
  padding-top: 100px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the text is hidden until animated */
  white-space: nowrap; /* Prevents text from wrapping */
  margin: 0 auto; /* Centers the text horizontally */
  padding-top: -85rem;
}

/* Animation for the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typewriter #job-title::after {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 2px solid black; /* Simulates the cursor */
  animation: blink-caret 1s steps(1) infinite;
}

/* Animation for the blinking cursor */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

/* Side Navbar styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(14, 1, 18);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: transparent;
}

/* Hamburger Icon styles */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #172330;
  z-index: 2;
  border-radius: 2px;
  background-color: #f6f6f6;
}

/* Main Content styles */
.main-content {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 0; /* Adjust margin to match side navbar width */
}